@model DogGo.Models.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "Profile";
}


<div>
    <h1 class="mb-4">Walker Profile</h1>
    
    <section class="container">
        <img style="width:100px;float:left;margin-right:20px;border-radius: 50%;"
            src="@Model.Walker.ImageUrl" alt="avatar" />
            <div>
            <div>
                <label " class="font-weight-bold">Name: </label>
                <span>@Model.Walker.Name</span>
            </div>
            <div class="col-sm-10">
                <label class="font-weight-bold">Neighborhood: </label>
                <span>@Model.Walker.Neighborhood.Name</span>
            </div>
            </div>
    </section>
</div>

